---
---

@import "{{ site.theme }}";
@import url('https://d26dmzpiksq0q.cloudfront.net/web/imports/rockets/css/variables/main.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/*:root {
    --yourSpecialVariable: 100%;
}*/

body {
   background-color:#202124;
   font-family: 'Roboto', sans-serif;
   .main-content {
        h1,
        h2,
        h3,
        h4 {
            color: var(--primaryTextColor);
        }
   }
   p {
       font-weight: 400;
       color: #9aa0a6;
   }
   a {
       color: var(--primaryColor);
   }
   .highlight {
    background: black;
   }
}

.page-header {
    background: linear-gradient(45deg, transparent, var(--primaryColor));
}