---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
    --backgroundColor: rgb(20,20,20);
    --cardBackgroundColor: rgb(40,43,45);
    --primaryColor: rgb(221,43,53);
    --primaryTextColor: rgb(240,240,240);
    --secondaryTextColor: rgb(109,117,122);
    --buttonBorderRadius: 8px;
}

body {
   background-color:#202124;
   font-family: 'Roboto', sans-serif;
   .main-content {
        h1,
        h2,
        h3,
        h4 {
            color: var(--primaryTextColor);
        }
   }
   p {
       font-weight: 400;
       color: #9aa0a6;
   }
   a {
       color: var(--primaryColor);
   }
   .highlight {
    background: black;
   }
}